<?xml version="1.0" encoding="utf-8" ?>
<!-- Need to be copied into folder having b2.exe -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="eventLogTarget" xsi:type="EventLog" log="ESBService" eventId="${whenEmpty:whenEmpty=0:inner=${event-context:item=EventId}}"
          layout="${date:format=yyyy-MM-dd HH\:mm\:ss\:fff} | ${level} | ${logger} | ${message}${newline}${exception:format=ToString}" >
    </target>

    <target name="chainsawTarget" xsi:type="Chainsaw" address="udp4://localhost:7071" includeMdc="true" />

    <target name="consoleTarget" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} | ${logger} | ${level} | ${message} | ${exception:format=ToString}" />

    <target name="f1" xsi:type="File" fileName="c:\temp\BeckyPluginTest\bk27300\Plugins\log.txt"/>
    <target name="ds" xsi:type="OutputDebugString"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="chainsawTarget,consoleTarget,ds,f1" />
    <logger name="*" minlevel="Warn" writeTo="EventLog" />
  </rules>
</nlog>
