<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DllExport" version="1.5.2" targetFramework="net45" />
  <package id="Fody" version="1.29.2" targetFramework="net45" developmentDependency="true" />
  <package id="ModuleInit.Fody" version="1.5.9.0" targetFramework="net45" developmentDependency="true" />
  <package id="NLog" version="4.3.7" targetFramework="net461" />
  <package id="NLog.Schema" version="4.3.7" targetFramework="net461" />
  <package id="PInvoke.User32" version="0.3.90" targetFramework="net461" />
  <package id="PInvoke.Windows.Core" version="0.3.90" targetFramework="net461" />
</packages>